.container {
  margin: 50px auto;
  width: 400px;
  border: 6px solid rgb(0, 10, 96);
  box-shadow: 1rem 1rem 2rem rgba(38, 60, 125, 0.435),
    -1rem -1rem 2rem rgb(38, 60, 125, 0.435);
  background-color: rgba(175, 130, 191, 0.699);

  border-radius: 8px;
}
